.headbar
{
  text-align: center;
}

.headbar
{
  text-align: center;
  padding: 50px;
}

a
{
  color: #25D317;
  text-decoration: none;
}

.headbar
{
  text-align: right;
  background-color: black;
  background-image: url("");
 height: 100px;
  width: auto;
  background-repeat: no-repeat;
 // text-align: center;
}
.headbar ul li
{
  //text-align: left;
    list-style-type: none;
    display:inline;
    padding: 25px;
    background-color: black;
}
* {
    box-sizing: border-box;
  }
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #080808;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #0015d1;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background: url("https://carsomemy.s3.amazonaws.com/Lifestyle/2019%20BMW%203%20Series%20sedan/3%20headlamps.gif") no-repeat center center;
    -webkit-background-size: cover;

  -moz-background-size: cover;

  -o-background-size: cover;

  background-size: cover;

  height: 95vh;

  padding-top: 2rem;

  color: rgb(255, 255, 255);

  display: flex;

  justify-content: center;

  align-items: center;
    padding: 100px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }